.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.count {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background: #4b4cfe;
	border-radius: 100%;
}
